##Adapted from https://github.com/telosys-tools/persistence-springdatajpa-TT210-R2
package ${target.javaPackageFromFolder($SRC)};
#set( $currentClassName = "${entity.name}EntityKey" )
import java.io.Serializable;

#foreach( $import in $java.imports($entity.keyAttributes) )
import $import;
#end
#foreach( $import in $jpa.imports($entity))
import $import;
#end

@Embeddable
public class $currentClassName implements Serializable
{
    private static final long serialVersionUID = 1L;

#foreach( $field in $entity.keyAttributes )
$jpa.embeddedIdAnnotations(4, $field)
    private $field.formattedType(0) $field.formattedName(0) #if($field.hasInitialValue())= ${field.initialValue} #end;
    
#end

    public $currentClassName() {}

    public ${currentClassName}( $fn.argumentsListWithType($entity.keyAttributes) )
    {
#foreach( $field in $entity.keyAttributes )
        this.$field.name = $field.name;
#end
    }
    
#foreach( $field in $entity.keyAttributes )
#if ( $field.databaseName ) 
#end
#if ( $field.getter )    public $field.type ${field.getter}() { return this.$field.name; }
#if ( $field.setter )    public void ${field.setter}( $field.type value ) { this.$field.name = value; }
#end
#end

#end  

$java.equalsMethod($currentClassName, $entity.keyAttributes )

$java.hashCodeMethod($currentClassName, $entity.keyAttributes )

    public String toString() {
		StringBuffer sb = new StringBuffer(); 
#set( $count = 0 )
#foreach( $field in $entity.keyAttributes )
#if( $count > 0 )
		sb.append("|"); 
#end
		sb.append($field.name); 
#set( $count = $count + 1 )
#end  
        return sb.toString();
    }
}